{
	auto_https off
}

http://{$QDASH_HOST:qdash.localhost} {
	handle /api/* {
		reverse_proxy {$QDASH_API_UPSTREAM:api:5715}
	}

	handle {
		reverse_proxy {$QDASH_UI_UPSTREAM:ui:5714}
	}
}

http://{$QDASH_API_HOST:api.qdash.localhost} {
	reverse_proxy {$QDASH_API_UPSTREAM:api:5715}
}

http://{$QDASH_PREFECT_HOST:prefect.qdash.localhost} {
	reverse_proxy prefect-server:4200
}

http://{$QDASH_MONGO_HOST:mongo.qdash.localhost} {
	reverse_proxy mongo-express:8081
}
