**/node_modules
**/.next
**/.turbo
**/.bun
**/.git
**/.env
**/dist
**/build
**/*.log
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/.coverage.*
**/coverage.xml
**/htmlcov
.venv
.DS_Store
logs
calib_data
mongo_data
postgres_data
